<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{.title}} - moremon</title>
	<style type="text/css">
{{ template "index.css" }}
  </style>
	<script language="javascript" type="text/javascript">
{{ template "jquery.min.js" }}
	</script>
	<script language="javascript" type="text/javascript">
{{ template "jquery.flot.min.js" }}
	</script>
	<script type="text/javascript">

	$(function() {

		var data = {};
		var totalPoints = 300;
		var nextIndex = 300;

		var dataSocket = new WebSocket("ws://{{ .hostname }}/ws");
		var plots = {};

    dataSocket.onmessage = function (event) {
			json = JSON.parse(event.data);
			if (json.Type == "init") {
				// init data
				data[json.Id] = new Array();
				for (var i = 0; i < json.Label.length; i++) {
					label = json.Label[i]
					series = {}
					series["label"] = label
					series["data"] = new Array();
					for (var j = 0; j < totalPoints; ++j) {
						series["data"].push([j, 0])
					}
					data[json.Id].push(series)
				}

				// create plot
				plots[json.Id] = $.plot("#plot-" + json.Id, data[json.Id], {
					series: {
						shadowSize: 0,
						hoverable: true
					},
					yaxis: {
						min: json.Min,
						max: json.Max
					},
					xaxis: {
						show: false
					}
				});
			} else {
				if (data[json.Id][0]["data"].length >= totalPoints) {
					for (var i = 0; i < data[json.Id].length; i++) {
						data[json.Id][i]["data"] = data[json.Id][i]["data"].slice(1);
					}
				}
				for (var i = 0; i < data[json.Id].length; i++) {
					data[json.Id][i]["data"].push([nextIndex++, json.V[i]]);
				}
			}
			//console.log(json);
			//console.log(data);
    }

		var updateInterval = 500;

		function update() {
			for(var key in plots) {
				plot = plots[key]
				if (plot !== undefined) {
					plot.setData(data[key]);
					plot.setupGrid()
					plot.draw();
				}
			}
			setTimeout(update, updateInterval);
		}
		update();
	});

	</script>
</head>
<body>

	<div id="header">
    <b>More</b>mon | {{.title}}
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="plot-ld" class="demo-placeholder"></div>
		</div>

		<div class="demo-container">
			<div id="plot-mem" class="demo-placeholder"></div>
		</div>

	</div>

</body>
</html>
